.dashBoardLayout {
   background: linear-gradient(-90deg, #03c6f76f, #00000081),
      url("https://images.unsplash.com/photo-1587440871875-191322ee64b0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHx8");
   background-size: cover;
   background-attachment: fixed;
   min-height: screen;
}